@{
    ViewData["Title"] = "Page not found";
}

<div class=" h-100 d-flex flex-column justify-content-center align-items-center">
    <p class="h2 font-weight-bold">@ViewData["Code"]</p>
    <p class="h4">@ViewData["Message"]</p>
</div>
